
.spinner {
  width: 64px;
  height: 64px;
  margin: 24px;
  padding: 8px;
  border-radius: 50%;
  background: $white;
  box-shadow: $shadow;
  opacity: 0;
  animation: 0.25s forwards spinner-fade;

  &::before {
    display: block;
    height: 100%;
    border: 2px solid $hyperapp;
    border-radius: 50%;
    border-top-color: $light-1;
    border-left-color: $light-1;
    content: '';
    animation: 0.5s linear infinite spinner;
  }
}

@keyframes spinner-fade {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
