//
// # Variables
// =============================================================================

$white: #fff;
$black: #000;

$red: rgb(223, 31, 47);
$yellow: rgb(223, 159, 31);
$green: rgb(127, 191, 63);
$blue: rgb(31, 159, 223);

$hyperapp: rgb(0, 178, 255);
$quiver: rgb(127, 207, 207);

$dark-1: rgb(31, 33, 35);
$dark-2: rgb(23, 25, 27);
$dark-3: rgb(15, 17, 19);

$light-1: rgb(243, 245, 247);
$light-2: rgb(235, 237, 239);
$light-3: rgb(227, 229, 231);

$shadow: 0 18px 36px -9px rgba($dark-3, 0.0625);

//
// # Reset
// =============================================================================
// 1. HACK: Webkit iOS: enable momentum scrolling on overflow elements
// 2. HACK: Safari: `position: fixed` changes font-smoothing

* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font: inherit;
  outline: none;
  text-align: inherit;
  text-decoration: inherit;
  -webkit-overflow-scrolling: touch; // 1
}

*, *::after, *::before {
  box-sizing: inherit;
}

svg, table {
  width: 100%;
}

body {
  font: 400 1em/1 Roboto, '-apple-system', BlinkMacSystemFont, sans-serif;
  background: $light-1;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased; // 2
}

button {
  user-select: none;
}

//
// # Helpers
// =============================================================================

._material-icons {
  font-family: 'Material Icons';
  font-feature-settings: 'liga'; // IE
  font-size: 24px;
  text-rendering: optimizeLegibility; // Safari and Chrome
  text-transform: none;
  -webkit-font-smoothing: antialiased; // WebKit
  -moz-osx-font-smoothing: grayscale; // Firefox
}

//
// # Imports
// =============================================================================

//
// # Styles
// =============================================================================

.view {
  /* Display */
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-color: $dark-1;
}

.page {
  /* Display */
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

// Navigation

nav {
  /* Display */
  display: flex;
  width: 100vw;
  height: 80px;
  align-items: center;
  justify-content: center;

  background-color: $dark-2;
}

.navigation-area {
  /* Display */
  display: flex;
  width: 80vw;
  height: 80px;
  align-items: center;
  justify-content: space-between;

  text-align: center;

  .navigation-brand {
    /* Display */
    width: 240px;
    height: 80px;
  }

  .navigation-menu {
    /* Display */
    width: auto;
    height: 80px;

    .control {
      width: 160px;
      height: 80px;

      color: $white;
      background-color: $dark-2;

      outline: none;
    }
  }
}

// Reports

.reports-container {
  /* Display */
  width: 80vw;
  height: 100%;
  margin-top: 50px;
}

.reports-actions {
  /* Display */
  display: inline-block;
  width: 100%;
  height: 80px;

  background-color: $dark-2;
}

.reports-list {
  /* Display */
  display: inline-block;
  width: 100%;
  max-height: 74vh;

  color: $white;
  background-color: $dark-3;
}

.reports-navigation {
  /* Display */
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 3px;
  align-items: center;
  justify-content: flex-end;

  background-color: $dark-2;
  color: $white;

  .back {
    width: 60px;
    height: 40px;
    text-align: center;

    background-color: $dark-2;
  }

  .forward {
    width: 60px;
    height: 40px;
    text-align: center;

    background-color: $dark-2;
  }
}

// Reports Item

.report-item {
  /* Display */
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: space-between;

  .user {
    display: flex;
    width: 400px;
    height: 100%;
    align-items: center;
    justify-content: space-around;

    img {
      width: 100px;
      height: 100px;
    }

    .user-details {
      display: flex;
      height: 100%;
      width: 50%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;

      .name {
        font-weight: bold;
      }

      .lastOnline {
        font-weight: normal;
        font-size: 12px;
      }
    }
  }

  .details {
    display: flex;
    width: 800px;
    height: 100%;
    // flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    p {
      padding: 20px;
      font-size: 14px;
    }
  }

  .more {
    display: flex;
    width: 120px;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: $dark-2;
  }
}
